header {
    height: 90px;
    background-color: #161616;
}
h1 {
    color:white;
    margin-left:80px;
    padding-top:30px;
    font-family: sans-serif;
    font-weight: 600;
}
h2 {
    color: #b22222;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin: 150px 150px -150px;
}
thead {
    background-color: #b22222;
    padding: 20px 30px;
    font-family:  sans-serif;
    font-weight: 200;
    font-size: 10px;
    letter-spacing: 0.7px;

}
th {
    color: white;
    font-family:  sans-serif;
    font-weight: 200;
}

td {
    border-bottom: 1px solid #eee;
}
table {
    margin:150px 150px;
     box-shadow: 0px 10px 5px #eee;
}
.time {
    font-size: 12px;
    font-family: sans-serif;
    background-color: lightgrey;
    border-bottom: 1px solid #fff;
    padding-left: 10px;
}
.data {
    text-align: right;
    padding:12px 10px 12px 70px;

}
.th-time {
    font-family: sans-serif;
    text-align: left;
    padding: 12px 120px 12px 10px;
}
